.info {
	text-align: left;
	padding: 5px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	position: absolute;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: -1px 1px 2px #a9a9a9;
	-moz-box-shadow: -1px 1px 2px #a9a9a9;
	box-shadow: -1px 1px 2px #a9a9a9;
}

.error {
	background: #f60000;
	border: 3px solid #d50000;

}

.correct {
	background: #56d800;
	border: 3px solid #008000;
}

.wrong {
	font-weight: bold;
	color: #e90000;
}

.normal {
	font-weight: normal;
	color: #222;
}




.pagination{
    padding: 2px;
}
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: left;
    
}
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
    padding: 0 5px;
	margin: 1px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1;
	-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font: 11px/24px Arial,Verdana,sans-serif;
}
.pagination a:hover, .pagination a:active{
    border: 1px solid #2b66a5;
    color: #000;
    
}
.pagination a.prevnext{
    font-weight: bold;
}
.page_number {
    border: 1px solid #9aafe5;
    color: #2e6ab1;
    padding:5px;
    text-align: center;
    width: 12px;
	-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
height: 12px;
}