/**

!.gitignore
!package.json
!gulpfile.js

!/admin100/themes/default/css
!/admin100/themes/default/css/*
!/admin100/themes/default/css/**

!/admin100/themes/default/src/css
!/admin100/themes/default/src/css/*
!/admin100/themes/default/src/css/**

!/admin100/themes/default/template
!/admin100/themes/default/template/*
!/admin100/themes/default/template/**

!/controllers
!/controllers/*
!/controllers/**

!/classes
!/classes/*
!/classes/**

!/modules
!/modules/*
!/modules/**

!/override
!/override/*
!/override/**

!/themes/ogonek
!/themes/ogonek/*
!/themes/ogonek/**
!/themes

/themes/ogonek/cache
/themes/ogonek/sass
