.ps-category
    &__title
        clear both
        display block
        width 100%
        
        &::after
            content ''
            display table
            clear both
            
    &__name
        display block
        float left
            
    &__info
        display block
        float right
        
.content_scene_cat
    .content_scene_cat_bg
        background-color inherit !important