.ps-footer__block
    padding 5px 0
    float left
    
    .ps-block
        &__title
            font-size 16px !important
            color #f3aa38 !important
            margin 0 !important
            padding 5px 0 !important
            
            &::after
                content none !important
            
        &__list
            display block
            margin 0
            padding 0
            overflow hidden
            
            .ps-list
                &__item
                    padding 0 10px 5px 0 !important
                    margin 0 !important
                    float left
            