$ps_orange = #f3aa38
$ps_grey = #666

.ps-contacts
    position relative
    display block
    text-align center
    
    &__phone
        font 700 24px/1.2 'Open Sans', sans-serif
        color $ps_orange
        white-space nowrap
        
    &__info
        font 700 14px/1.5 'Open Sans', sans-serif
        color $ps_grey
      
    &__button
        display inline-block
        font 700 14px/2 'Open Sans', sans-serif
        text-decoration none
        text-align center
        color $ps_orange
        background-color white
        border solid 1px $ps_orange
        margin 10px auto
        padding 0 15px
        transition .5s all ease
        
        @media (max-width: 670px) and (min-width: 570px)
            position absolute
            display block
            left -88%
            top 50%
        
        &:hover
            color white
            background-color $ps_orange
            text-decoration none
        