.ulogin-header
    display none
    
.ps-head
    display table
    box-sizing border-box
    width 100%
    margin 0 auto
    
    @media (max-width 766px)
        padding 0 15px
    
    &::after
        content ''
        display table
        clear both
    
    &__block
        display table-cell
        vertical-align top
        
        &:last-child
            width 225px
        
        &--button
            text-align right
            width 195px
        
    &__logo
        display block
        size 160px 125px
        background 50% 50% no-repeat
        background-size contain
        transition .5s all ease
        
        &-block
            width 160px
        
        &:hover
            background-size contain
            
        .ps-head--noindex &
            height 64px
            
        
    &__title
        text-align center
        font 700 24px/1.2 'Open Sans',sans-serif
        
        @media (max-width 995px)
            font-size 22px
        
        @media (max-width 766px)
            display none
            
    &__title-block
        @media (max-width 766px)
            width 50%
                
    &__contacts
        display inline-block
        
        &-block
            text-align right
            
            
            .ps-head--noindex &
                text-align center
        
    &__cart
        padding 0
        height 40px
        overflow hidden
        width 100%
        max-width 1200px
        
        &--fixed
            position fixed
            top 0
            z-index 10
            
        @media (max-width 1200px)
            max-width 970px
            
        @media (max-width 992px)
            max-width 750px
        
        @media (max-width 766px)
            padding 0 15px
        
        
        .shopping_cart
            width 195px
        
            @media (max-width 766px)
                width auto
                float none !important