.ps-product-page
    text-align right
    
    @media(max-width 768px)
        text-align center
    
    &__block
        display inline-block
        box-sizing border-box
        width 50%
        padding 0 20px
        text-align left
        vertical-align top
        
        #quantity_wanted_p
            white-space nowrap
        
        @media(max-width 768px)
            width 100%
            
    .price
        em
            font-size .8em

    &__image
        display block
        width 100%
        
        &-zoom
            position relative
            display block
            font 32px/1 "FontAwesome"
            
            &::after
                content "\f00e"
                display block
                box-sizing border-box
                absolute top 0 left 0 width 100% height 100%
                padding 46%
                font-size 1em
                background-color rgba(#000, .2)
                color #fff
                transition .5s opacity ease
                opacity 0
                
            &:hover::after
                opacity 1
                
    &__share
        display block
        text-align center
        padding 15px 0
        
    .ps-product
        &__button
            @extends $form-button
            font 14px/30px 'Open Sans', sans-serif
            text-align center
            text-transform uppercase
            text-decoration none
            clear both
            margin 10px auto

            &:hover
                background-color #ed9d12
                text-decoration none
            
            &--compare
                background-color #86d2e9
                
                &.checked
                    background-color #47b347
                
                &:hover
                    background-color darken(#86d2e9, 20%)
                    
                    &.checked
                        background-color #47b347
            
        