.ps-products--table
    width 100%
    
    th
        text-align center
        
    td
        text-align center
        
    tr:nth-child(odd) td
        background-color #fae2b8
        
    tr:hover td
        background-color #f7ce88

    .ps-product
        &--incard
            td, &:nth-child(odd) td
                background-color #d4eff7
                
        &__table
            display table
            width 100%
            border-spacing: 0 8px
            
            &-thead
                display table-header-group
                
                .ps-product__table-cell
                    font-weight 800
                
            &-tbody
                display table-row-group
            
            &-row
                display table-row
                margin 5px 0
                box-sizing border-box
                box-shadow 0 1px 4px 0 rgba(#000, 0.4)
                border-radius 5px
                transition .5s box-shadow ease
                
                &:hover
                    box-shadow 0 2px 8px rgba(#000, 0.6)
                    
                &.ps-product--incard
                    background-color #d4eff7
                
            &-cell
                display table-cell
                text-align center
                vertical-align middle
                padding 5px
            
                &.ps-product__controls
                    width 70px
                
                .ps-product__table-thead &
                    font-weight 800
                    
        &__grid, &__list, &__extended
            display none
            
        &__image
            width 65px
            
            &-zoom
                position relative
                display block
                
                &::after
                    content "\f00e"
                    display block
                    absolute top 0 left 0 width 65px height 100%
                    font 32px/65px "FontAwesome"
                    text-align center
                    background-color rgba(#000, .2)
                    color #fff
                    transition .5s opacity ease
                    opacity 0
                    
                &:hover::after
                    opacity 1


        &__name
            text-align left
            
            .ps-product__link
                font 800 14px/1 'Open Sans', sans-serif
                color #d34633
                text-decoration none
            
                &:hover
                    color #d34633
                    text-decoration underline            
            
        &__quantity
            position relative
            display block
            size auto 20px
            padding 0
            
            &::after
                content ''
                display table
                clear both
                
        .ps-quantity
            &__button
                @extends $form-button
                absolute top 0 width 15px height 20px
                font 800 12px/20px 'Open Sans', sans-serif
                display block
                transition .5s all ease
                z-index 1
                
                &--dec, &--decbox
                    border-radius 5px 0 0 5px
                    left -2px
                        
                &--inc, &--incbox
                    border-radius 0 5px 5px 0
                    right -2px
                    
            &:hover, &--focus
                .ps-quantity__button
                    &--dec, &--decbox
                        left -15px
                        
                    &--inc, &--incbox
                        right -15px
                
            &__value
                position relative
                display block
                font 800 12px/20px 'Open Sans', sans-serif
                text-align center
                size 100% 20px
                margin 0
                border solid 1px #f1b347
                float left
                z-index 2
                
            &__title
                display block
                text-align center
                line-height 1
                
        &__button
            @extends $form-button
            font 12px/20px 'Open Sans', sans-serif
            size 54px 20px
            text-align center
            text-transform uppercase
            text-decoration none
            clear both
            margin 3px auto 0

            &:hover
                background-color #ed9d12
                text-decoration none
                
        &__price
            font 800 12px/1 'Open Sans', sans-serif
            color #ec1818
            padding .5em 0
            height 3.4em
            
            .ps-price__value
                display inline-block
                white-space nowrap
                em
                    font-size 10px
                &--old
                    color #888
                    text-decoration line-through
                    font-weight 100