.ps-popup
    $popup(920px)
    
.ps-products--list
    display block
    clear both

    .ps-switch
        display none
        
    .ps-product
        display block
        clear both
        position relative
        box-sizing border-box
        box-shadow 0 1px 4px 0 rgba(#000, 0.4)
        border-radius 5px
        transition .5s box-shadow ease
        padding 10px
        margin 0 0 20px
        
        &, &:hover
            text-decoration none
            
        &:hover
            box-shadow 0 2px 8px rgba(#000, 0.6)
        
        &::after
            content ''
            display table
            clear both
        
        &__list
            display block
        
        &__grid, &__table, &__extended
            display none
                        
        &__row
            display table
            width 100%
        
        &__cell
            display table-cell
            vertical-align top
            &--left
                padding 0 20px 0 0
                width 56%
            &--image
                width 250px
            
        &__link
            display block
            position relative
            color #222
            
        &__image
            display block
            width 100%
            vertical-align top
            
            
        &__name
            margin 0 0 10px
            font-size 20px
            font-weight 800
            color #222
            
        &__description
            display block
            font-size 13px
            color #555
            padding 10px 0
            
        &__separator
            display block
            background-color #ccc
            box-shadow 0 3px 5px 0px rgba(0,0,0,0.4)
            padding 0
            margin 10px 0 30px
            height 1px
            border none
            
        &__option
            display block
            font-size 13px
            padding 0 0 5px
            
            &--checked
                position relative
                padding 0 0 0 1.5em
                
                &::before
                    content ''
                    display block
                    absolute left 0 top .3em width 1em height .6em
                    border solid green
                    border-width 0 0 2px 2px 
                    transform rotate(-45deg)
            
            &::after
                content ''
                display table
                clear both
            
        .ps-option
            &__title
                font-weight 600
                color #555
            
            &__value
                font-weight 800
                color #222
                
        &__cell--right
            .ps-option__value
                float right
                
        &__price
            font-size 20px
            em
                font-size 16px
        .ps-price
            white-space nowrap
            padding 0 0 10px
            
            &__descript
                font-weight 600
                color #555
            
            &__title, &__value
                font-weight 800
                color #222
            &__value
                &--old
                    display inline-block
                    position relative
                    color #888
                    //text-decoration line-through
                    font-weight 100
                    &::before
                        content ''
                        display block
                        absolute top 50% left 0 width 100% height 2px
                        background-color #ec1818
                        transform rotate(-10deg)
                    &::after
                        content ''
                        display block
                    
                    
        &__discount
            display inline-block
            font 800 20px/40px 'Open Sans', sans-serif
            color #ec1818
            
        &__controls
            background-color #eee
            padding 10px 20px
            margin 30px 0 0
            white-space nowrap
            
        &__control
            &:last-child
                padding 2px 0 0
                
                
        &__quantity
            display inline-block
            position relative
            width 75px
            
            &::after
                content ''
                display table
                clear both
            
        .ps-quantity
            &__title
                display inline-block
                text-align center
                
            &__button
                @extends $form-button
                absolute top 0 width 15px height 20px
                font 800 12px/20px 'Open Sans', sans-serif
                display block
                transition .5s all ease
                z-index 1
                
                &--dec, &--decbox
                    border-radius 5px 0 0 5px
                    left -2px
                        
                &--inc, &--incbox
                    border-radius 0 5px 5px 0
                    right -2px
                    
            &:hover, &--focus
                .ps-quantity__button
                    &--dec, &--decbox
                        left -15px
                        
                    &--inc, &--incbox
                        right -15px
                
            &__value
                position relative
                display block
                font 800 14px/20px 'Open Sans', sans-serif
                text-align center
                size 100% 20px
                margin 0
                border solid 1px #f1b347
                z-index 2
                
        &__compare
            display inline-block
            font 12px/1 'Open Sans', sans-serif
            text-transform uppercase
            padding 20px 0
            color #888
            
            &.checked
                color #47b347
                
        &__button
            @extends $form-button
            font 14px/30px 'Open Sans', sans-serif
            text-align center
            text-transform uppercase
            text-decoration none
            height auto
            padding 5px 20px
            margin 0 0 0 10px

            &:hover
                background-color #ed9d12
                text-decoration none
            
            &--compare
                background-color #86d2e9
                
                &.checked
                    background-color #47b347
                
                &:hover
                    background-color darken(#86d2e9, 20%)
                    
                    &.checked
                        background-color #47b347