.ps-products
    display block
    clear both
    
    &::after
        content ''
        display table
        clear both
        
    .ps-switch
        display none
        
    &--grid
    
        .ps-product
            display block
            position relative
            box-sizing border-box
            margin 1%
            padding 1%
            width 23%
            min-width 200px
            float left
            text-align center
            box-shadow 0 1px 4px 0 rgba(#000, 0.4)
            border-radius 5px
            transition .5s box-shadow ease
            
            &, &:hover
                text-decoration none
                
            &:hover
                box-shadow 0 2px 8px rgba(#000, 0.6)
                
            &__grid
                display block
            &__list, &__table, &__extended
                display none
            
            &__image
                display block
                margin 0 auto
                min-height 185px
                max-width 100%
                background 50% 0 no-repeat
                background-size contain
                //box-shadow 0 0 1px 0px rgba(#f1b347, .5)
                border solid 1px #f1b347
                border-radius 5px
                cursor pointer
                
                
            &__info, &__name, &__description, &__price, &__discount
                display block
                
            &__info
                text-align left
                
            &__name
                font 800 14px/1.2 'Open Sans', sans-serif
                color #333
                margin .5em 0
                height 2.4em
                overflow hidden
                text-overflow ellipsis
                cursor pointer
                
            &__description
                font 300 10px/1.4 'Open Sans', sans-serif
                color #333
                padding 0
                
                .ps-description
                    &__button
                        @extends $form-button
                        position relative
                        display block
                        font 400 12px/2 'Open Sans', sans-serif
                        height auto
                        margin 0
                        text-align center
                        color transparent
                        cursor pointer
                        transition .2s position ease
                        
                        &::after
                            content 'Подробнее'
                            display block
                            absolute top 0 left 0 width 100% height 100%
                            text-align center
                            color #fff
                        
                    &__text
                        absolute top 0 left 0 width 0 height 0
                        display block
                        overflow hidden
                        text-overflow ellipsis
                        word-break break-word
                        color #000
                        background-color rgba(#fff, .8)
                        border-radius 5px
                        padding 15px
                        opacity 0
                        transform scale(0)
                        transition .2s opacity ease, .8s transform ease
                        z-index 1
                            
                    &__empty
                        display block
                        padding 12px 0
                        
            .ps-switch:checked + .ps-product__description
                padding 12px 0
                
                .ps-description
                    &__button
                        absolute bottom 10px right 10px
                        z-index 2
                        
                        &::after
                            content 'Закрыть'
                        
                    &__text
                        size 100% 100%
                        opacity 1
                        transform scale(1)
                        transition .8s opacity ease, .2s transform ease
                        

                    
                
            &__price
                font 800 18px/1.2 'Open Sans', sans-serif
                color #ec1818
                padding .5em 0
                height 3.4em
                
                .ps-price__value
                    display block
                    em
                        font-size 14px
                    &--old
                        color #888
                        text-decoration line-through
                        font-weight 100
            
            &__discount
                absolute top -8px right -8px
                display block
                font 800 15px/40px 'Open Sans', sans-serif
                size 45px 45px
                color #fff
                background-color #ec1818
                border solid 3px #fff
                border-radius 50%
                box-shadow 0 0 1px 0 #ec1818
                
            &__button
                @extends $form-button
                width 40px
                
                &:hover
                    background-color #ed9d12
                
                &--tocart
                    background-image inline-image('../../img/ogonek/cart.svg')
                    float right
                    margin 30px 0 0
                    
                &--compare
                    background-image inline-image('../../img/ogonek/compare.svg')
                    float right
                    margin 30px 5px 0 0
                    
                    &.checked
                        background-color #47b347

            &__controls
                @extends $clear-block
                height 30px
                
            .ps-controls
                &__left
                    width 70px
                    float left
                    padding 0 0 0 10px
                    
            &__quantity
                position relative
                width 100%
                
                &:first-child
                    margin 0 0 4px
                
            .ps-quantity
                &__button
                    @extends $form-button
                    absolute top 0 width 15px height 28px
                    font 800 12px/28px 'Open Sans', sans-serif
                    display block
                    transition .5s all ease
                    z-index 1
                    
                    &--dec, &--decbox
                        border-radius 5px 0 0 5px
                        left -2px
                            
                    &--inc, &--incbox
                        border-radius 0 5px 5px 0
                        right -2px
                        
                &:hover
                    .ps-quantity__button
                        &--dec, &--decbox
                            left -15px
                            
                        &--inc, &--incbox
                            right -15px
                    
                &__value
                    position relative
                    display block
                    font 800 14px/28px 'Open Sans', sans-serif
                    text-align center
                    size 100% 28px
                    margin 0
                    border solid 1px #f1b347
                    z-index 2
            

        

        
        
        
