.ps-tabs
    width 33%
    margin auto
    box-shadow 2px 2px 10px 0px #666
    border 1px solid #f3aa38
    border-radius 10px
    overflow hidden
    
    &__button
        display block
        height 110px
        line-height 110px
        text-decoration none
        text-align center
        color #f3aa38
        background-color #fff
        border-bottom 1px solid #f3aa38
        padding 0 35px
        transition .5s all ease
            
        &:last-child
            border-bottom none
        
        &:hover
            background-color #f3aa38
            color #666
        
    &__text
        display inline-block
        font 800 18px/26px 'Open Sans', sans-serif
        vertical-align middle