$form-button
    display block
    height 30px
    color #fff
    background #f1b347 50% 50% no-repeat
    background-size 25px
    border none
    outline none
    border-radius 5px
    transition .5s background-color ease
    cursor pointer
    
    &:hover
        background-color #ed9d12