.sf-contener .sf-menu {
  position: relative;
  padding: 0;
  background-color: #d34633;
  width: 100%;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.sf-contener .sf-menu li {
  position: relative;
  list-style: none;
  padding: 0;
}
.sf-contener .sf-menu li a {
  display: block;
  color: #fff;
  padding: 17px 0;
  font: 600 13px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
}
.sf-contener {
  clear: both;
  float: left;
  width: 100%;
}
.sf-contener .cat-title {
  display: none;
}
@media (min-width: 767px) {
  .sf-contener #block_top_menu {
    padding: 15px 0 0;
  }
  .sf-contener .sf-menu {
    display: table;
  }
  .sf-contener .sf-menu li {
    display: table-cell;
    border-right: 1px solid #fff;
  }
  .sf-contener .sf-menu li:last-child {
    border-right: none;
  }
  .sf-contener .sf-menu li a {
    text-align: center;
  }
  .sf-contener .sf-menu li .submenu-container {
    display: none;
  }
  .sf-contener .sf-menu li ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 200px;
    max-width: 250px;
    margin: 10px 0 0;
    background-color: #fff;
    padding: 20px;
    border: solid 1px #d34633;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  }
  .sf-contener .sf-menu li ul::after {
    position: absolute;
    left: 0;
    top: -14px;
    width: 100%;
    padding: 0 0 0 40px;
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAASUlEQVR42mP4//8/Azq+7GbsAcTfgHg7ELNhU4NT06djB/8/m97zH5dmnJpgAJdmvJrwaSaoCZdmojRh08xArCZ0zQykaELWDAA8nV3VedP/jwAAAABJRU5ErkJggg==");
  }
  .sf-contener .sf-menu li ul li {
    display: block;
  }
  .sf-contener .sf-menu li ul li a {
    font: 600 13px/1.2 "Open Sans", sans-serif;
    color: #333;
    text-align: left;
    padding: 6px 10px;
    border-bottom: 1px dashed #ccc;
  }
  .sf-contener .sf-menu li ul li a:hover {
    color: #22527b;
  }
  .sf-contener .sf-menu li ul li:last-child a {
    border-bottom: none;
  }
}
@media (max-width: 766px) {
  .sf-contener #block_top_menu {
    padding: 15px 15px 0;
  }
  .sf-contener .sf-menu {
    display: block;
  }
  .sf-contener .sf-menu li {
    display: block;
  }
  .sf-contener .sf-menu li .menu-mobile-grover {
    display: block;
    position: absolute;
    right: 17px;
    top: 5px;
    width: 37px;
    height: 37px;
  }
  .sf-contener .sf-menu li .menu-mobile-grover::before,
  .sf-contener .sf-menu li .menu-mobile-grover::after {
    content: '';
    display: block;
    background-color: #fff;
  }
  .sf-contener .sf-menu li .menu-mobile-grover::before {
    position: absolute;
    left: 6px;
    top: 17px;
    width: 25px;
    height: 3px;
  }
  .sf-contener .sf-menu li .menu-mobile-grover::after {
    position: absolute;
    left: 17px;
    top: 6px;
    width: 3px;
    height: 25px;
  }
  .sf-contener .sf-menu li .menu-mobile-grover.active::after {
    display: none;
  }
  .sf-contener .sf-menu li a {
    padding: 17px;
    text-align: left;
  }
  .sf-contener .sf-menu li ul {
    display: none;
  }
  .sf-contener .sf-menu li li {
    padding: 0 0 0 34px;
  }
}
