.header_user_info
    float right
    margin-left 20px
    
    a 
        display block
        text-transform uppercase
        font-size 14px
        float right
        color #ff0
        display block
        text-transform uppercase
        text-decoration none
        padding 0 0 0 0px
        transition .5s color ease

        &:hover, &.active
            color #7f8000

        @media (max-width 479px)
            .header_user_info a
                font-size 11px

