#search_block_top {
  padding: 12px 35px 12px 0px;
  float: right;
}
#search_block_top #searchbox {
  float: left;
  width: 100%;
}
#search_block_top .btn.button-search {
  background: #666;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: #fff;
  width: 50px;
  text-align: center;
  padding: 3px 0;
  -webkit-border-radius: 0 15px 15px 0;
     -moz-border-radius: 0 15px 15px 0;
          border-radius: 0 15px 15px 0;
}
#search_block_top .btn.button-search span {
  display: none;
}
#search_block_top .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  font-size: 17px;
  width: 100%;
  text-align: center;
}
#search_block_top .btn.button-search:hover {
  color: #bbb;
}
#search_block_top #search_query_top {
  display: inline;
  padding: 13px 60px 13px 13px;
  height: 45px;
  background: #fbfbfb;
  margin-right: 50px;
  height: 30px;
  width: 210px;
  float: right;
  padding: 0 15px;
  background: #fff;
  -webkit-border-radius: 15px 0 0 15px;
     -moz-border-radius: 15px 0 0 15px;
          border-radius: 15px 0 0 15px;
  border: none;
  color: #646464;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
}
.ac_results {
  width: 271px;
  z-index: 9999;
}
.ac_results::before,
.ac_results::after {
  content: '';
  position: absolute;
  display: inline-block;
}
.ac_results::before {
  top: 8px;
  left: 19px;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ccc;
  border-left: 9px solid transparent;
  border-bottom-color: #e6e6e6;
}
.ac_results::after {
  top: 7px;
  left: 20px;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
}
.ac_results__block {
  clear: both;
}
.ac_results__block::after {
  content: '';
  clear: both;
  display: table;
}
.ac_results__image {
  width: 32px;
  vertical-align: top;
  margin: 0 10px 0 0;
  float: left;
}
.ac_results__value {
  display: block;
  margin: 0 0 0 42px;
}
.ac_results ul {
  position: relative;
  display: block;
  background: #fff;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px #d0d0d0;
     -moz-box-shadow: 0px 0px 10px 0px #d0d0d0;
          box-shadow: 0px 0px 10px 0px #d0d0d0;
  margin: 15px 0 0;
  padding: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.ac_results li {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  font-weight: normal;
  color: #686666;
  font-size: 12px;
  line-height: 16px;
  min-height: 42px;
  cursor: pointer;
}
.ac_results li:first-child,
.ac_results li:last-child {
  padding: 10px;
}
.ac_results li.ac_odd {
  background: rgba(253,167,2,0.1);
}
.ac_results li:hover,
.ac_results li.ac_over {
  background: rgba(253,167,2,0.2);
}
form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #666;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}
