.header_user_info {
  float: right;
  margin-left: 20px;
}
.header_user_info a {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  float: right;
  color: #ff0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 0 0px;
  -webkit-transition: 0.5s color ease;
  -o-transition: 0.5s color ease;
  -moz-transition: 0.5s color ease;
  transition: 0.5s color ease;
}
.header_user_info a:hover,
.header_user_info a.active {
  color: #7f8000;
}
@media (max-width: 479px) {
  .header_user_info a .header_user_info a {
    font-size: 11px;
  }
}
