.alerte{background: #FFBABA no-repeat scroll 6px 6px!important;border: 1px solid #CC0000!important;color: #D8000C!important;border-radius: 3px;}
.confok{background: #DFF2BF no-repeat scroll 6px 6px!important;border: 1px solid #4F8A10!important;color: #4F8A10!important;border-radius: 3px;} 
.checkme{display: block;float:left!important;text-align:left!important; padding-right: 10px;white-space: nowrap;font-weight:normal; color:black;}
