$sf-menu-base
    position relative
    padding 0
    background-color $topmenu-bg
    width 100%
    border-radius 10px
    
    li
        position relative
        list-style none
        padding 0
        
        a
            display block
            color #fff
            padding 17px 0
            font 600 13px/1 $font-custom
            text-transform uppercase

.sf-contener
    clear both
    float left
    width 100%

    .cat-title
        display none
        
    @media (min-width 767px)
        #block_top_menu
            padding 15px 0 0
        .sf-menu
            @extends $sf-menu-base
            display table
            border-radius 10px 10px 0 0
            
            .page--index &
                border-radius 10px
                
            &__link
                &--active
                    background-color #a83324
                
            &__item
                &:first-child
                    .sf-menu__link
                        border-radius 10px 0 0 0
                    
                        .page--index &
                            border-radius 10px 0 0 10px
                        
                &:last-child
                    .sf-menu__link
                        border-radius 0 10px 0 0
                    
                        .page--index &
                            border-radius 0 10px 10px 0
                    

            li
                display table-cell
                border-right 1px solid #fff
                
                &:last-child
                    border-right none
                
                a
                    text-align center
                    position relative

                    &.sf-with-ul
                        padding 17px 10px 17px 0
                        
                        &::after
                            content ''
                            display block
                            absolute right 5px top 50% width 0 height 0
                            margin-top -5px
                            border-top 5px solid transparent
                            border-left 10px solid #fff
                            border-bottom 5px solid transparent
                    
                .submenu-container
                    display none
                    
                ul
                    display block
                    absolute left 0 top 100% min-width 200px max-width 250px
                    margin 10px 0 0
                    background-color #fff
                    padding 20px
                    border solid 1px #d34633
                    border-radius 10px
                    z-index 100
                    
                    &::after
                        absolute left 0 top -14px width 100%
                        padding: 0 0 0 40px
                        content $arrow-image
                    
                    li
                        display block
                        
                        a
                            font 600 13px/1.2 $font-custom
                            color $base-text-color
                            text-align left
                            padding 6px 10px
                            border-bottom 1px dashed #ccc
                            
                            &:hover
                                color $link-hover-color
                                
                        &:last-child
                            a
                                border-bottom none
                                
    @media (max-width 766px)
        #block_top_menu
            padding 15px 15px 0
            
        .sf-menu
            @extends $sf-menu-base
            display block
            border-radius 10px 10px 0 0
            
            .page--index &
                border-radius 10px
            
            li
                display block
                
                .menu-mobile-grover
                    display block
                    absolute right 17px top 5px width 37px height 37px
                    
                    &::before, &::after
                        content ''
                        display block
                        background-color #fff
                        
                    &::before
                        absolute left 6px top 17px width 25px height 3px
                        
                    &::after
                        absolute left 17px top 6px width 3px height 25px
                        
                    &.active::after
                        display none
                
                a
                    padding 17px
                    text-align left
                    
                ul
                    display none
                    
                li
                    padding 0 0 0 34px
        